/* Main layout for the portfolio page */
body {
    background-color: rgb(181, 214, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

h2{
    color: rgb(196, 196, 196);
}

a {
    text-decoration: none;
    color: blue;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 40px;
}

.portfolio-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

/* Enlarge the image on hover */
.portfolio-item img:hover {
    transform: scale(1.2);
}

/* Footer styles */
footer {
    text-align: right;
    font-size: 6pt;
    font-weight: 550;
    background-color: steelblue;
    padding: 10pt;
}